/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0b1 | 201101 
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define visible focus styles! 
:focus {
	outline: ?????;
} */

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.jsoneditor-field, .jsoneditor-value, .jsoneditor-field-readonly, .jsoneditor-readonly {
    border: 1px solid transparent;
    min-height: 16px;
    min-width: 24px;
    padding: 2px;
    margin: 1px;
    outline: none;
    word-wrap: break-word;
    float: left;
}

/* adjust margin of p elements inside editable divs, needed for Opera, IE */
.jsoneditor-field p, .jsoneditor-value p {
    margin: 0;
}

.jsoneditor-value {
    word-break: break-word;
}

.jsoneditor-empty {
    background-color: #E5E5E5;
    border-radius: 2px;
}

.jsoneditor-separator {
    padding: 3px 0;
    vertical-align: top;
}

.jsoneditor-value:focus, .jsoneditor-field:focus,
        .jsoneditor-value:hover, .jsoneditor-field:hover,
        .jsoneditor-search-highlight {
    background-color: #FFFFAB;
    border: 1px solid yellow;
    border-radius: 2px;
}

.jsoneditor-search-highlight-active,
        .jsoneditor-search-highlight-active:focus,
        .jsoneditor-search-highlight-active:hover {
    background-color: #ffee00;
    border: 1px solid #ffc700;
    border-radius: 2px;
}

.jsoneditor-field-readonly:hover {
    border: 1px solid white;
}

.jsoneditor-readonly {
    color: gray;
}

button.jsoneditor-remove, button.jsoneditor-append, button.jsoneditor-duplicate,
button.jsoneditor-collapsed, button.jsoneditor-expanded,
button.jsoneditor-invisible, button.jsoneditor-dragarea,
button.jsoneditor-type-auto, button.jsoneditor-type-string,
button.jsoneditor-type-array, button.jsoneditor-type-object {
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 0;
    border: none;
    cursor: pointer;
    background: url('../img/jsoneditor-icons.png');
}

button:disabled {
    color: #808080;
}

button.jsoneditor-collapsed {
    background-position: -168px 0;
}

button.jsoneditor-expanded {
    background-position: -168px -24px;
}

button.jsoneditor-invisible {
    visibility: hidden;
    background: none;
}

button.jsoneditor-collapsed, button.jsoneditor-expanded,
button.jsoneditor-invisible {
    float: left;
}

button.jsoneditor-remove {
    background-position: -24px -24px;
}
button.jsoneditor-remove:hover {
    background-position: -24px 0;
}

button.jsoneditor-append {
    background-position: 0 -24px;
}
button.jsoneditor-append:hover {
    background-position: 0 0;
}

button.jsoneditor-duplicate {
    background-position: -48px -24px;
}
button.jsoneditor-duplicate:hover {
    background-position: -48px 0;
}

button.jsoneditor-type-string {
    background-position: -144px -24px;
}
button.jsoneditor-type-string:hover {
    background-position: -144px 0;
}

button.jsoneditor-type-auto {
    background-position: -120px -24px;
}
button.jsoneditor-type-auto:hover {
    background-position: -120px 0;
}

button.jsoneditor-type-object {
    background-position: -72px -24px;
}
button.jsoneditor-type-object:hover {
    background-position: -72px 0;
}

button.jsoneditor-type-array {
    background-position: -96px -24px;
}
button.jsoneditor-type-array:hover {
    background-position: -96px 0;
}

div.jsoneditor-select {
    border: 1px solid gray;
    background-color: white;
    box-shadow: 4px 4px 10px rgba(128, 128, 128, 0.5);
}

div.jsoneditor-option {
    color: #4D4D4D;
    background-color: white;

    border: none;
    margin: 0;
    display: block;
    text-align: left;
    cursor: pointer;
}
div.jsoneditor-option:hover {
    background-color: #FFFFAB;
    color: #1A1A1A;
}
div.jsoneditor-option-selected {
    background-color: #D5DDF6;
}
div.jsoneditor-option-text {
    height: 24px;
    line-height: 24px;
    padding: 0 12px 0 0;
    display: inline-block;
}

div.jsoneditor-option-string, div.jsoneditor-option-auto,
div.jsoneditor-option-object, div.jsoneditor-option-array {
    float: left;
    width: 24px;
    height: 24px;
    display: inline-block;
    background: url('../img/jsoneditor-icons.png');
}
div.jsoneditor-option-string {
    background-position: -144px 0;
}
div.jsoneditor-option-auto {
    background-position: -120px 0;
}
div.jsoneditor-option-object {
    background-position: -72px 0;
}
div.jsoneditor-option-array {
    background-position: -96px 0;
}


div.jsoneditor-frame {
    color: #1A1A1A;
    border: 1px solid #97B0F8;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow: auto;
    position: relative;
    padding: 0;
}

table.jsoneditor-table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin: 0;
}

div.jsoneditor-content-outer, div.jsonformatter-content {
    width: 100%;
    height: 100%;
    margin: -35px 0 0 0;
    padding: 35px 0 0 0;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    overflow: hidden;
}

div.jsoneditor-content {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: auto;
}

textarea.jsonformatter-textarea {
    width: 100%;
    height: 100%;
    margin: 0;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    border: none;
    background-color: white;
    resize: none;
}

tr.jsoneditor-tr-highlight {
    background-color: #FFFFAB;
}

button.jsoneditor-dragarea {
    width: 16px;
    height: 24px;
    /*
    margin: 3px 0;
    background: url('img/dots_gray.gif') top center;
    background-repeat: repeat-y;
    */
    background: url('../img/jsoneditor-icons.png') -220px 0;

    display: block;
    cursor: move;
}

div.jsoneditor-menu {
    width: 100%;
    height: 35px;
    padding: 2px;
    margin: 0;
    overflow: hidden;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    color: #1A1A1A;
    background-color: #D5DDF6;
    border-bottom: 1px solid #97B0F8;
}

table.jsoneditor-search {
    position: absolute;
    right: 2px;
    top: 2px;
}

table.jsoneditor-search-input {
    border-collapse: collapse;
}

div.jsoneditor-search {
    border: 1px solid #97B0F8;
    background-color: white;
    padding: 0 2px;
    margin: 0;
}

input.jsoneditor-search {
    width: 120px;
    border: none;
    outline: none;
    margin: 1px;
}

div.jsoneditor-search-results {
    color: #4d4d4d;
    padding-right: 5px;
}

button.jsoneditor-search-refresh, button.jsoneditor-search-next,
        button.jsoneditor-search-previous {
    width: 16px;
    height: 24px;
    padding: 0;
    margin: 0;
    border: none;
    background: url('../img/jsoneditor-icons.png');
    vertical-align: top;
}

button.jsoneditor-search-refresh {
    width: 18px;
    background-position: -243px -25px;
}

button.jsoneditor-search-next {
    cursor: pointer;
    background-position: -268px -25px;
}
button.jsoneditor-search-next:hover {
    background-position: -268px -1px;
}

button.jsoneditor-search-previous {
    cursor: pointer;
    background-position: -292px -25px;
    margin-right: 2px;
}
button.jsoneditor-search-previous:hover {
    background-position: -292px -1px;
}


button.jsoneditor-menu {
    width: 26px;
    height: 26px;
    margin: 2px;
    padding: 2px;
    border-radius: 2px;
    border: 1px solid #aec0f8;
    background: #e3eaf6 url('../img/jsoneditor-icons.png');
}

button.jsoneditor-menu:hover {
    background-color: #f0f2f5;
}
button.jsoneditor-menu:active {
    background-color: #ffffff;
}
button.jsoneditor-menu:disabled {
    background-color: #e3eaf6;
}

button.jsoneditor-collapse-all {
    background-position: -312px 0;
}
button.jsoneditor-expand-all {
    background-position: -312px -24px;
}
button.jsoneditor-undo {
    background-position: -336px 0;
}
button.jsoneditor-redo {
    background-position: -360px 0;
}
button.jsoneditor-undo:disabled {
    background-position: -336px -24px;
}
button.jsoneditor-redo:disabled {
    background-position: -360px -24px;
}
/* TODO: css for button:disabled is not supported by IE8 */
button.jsoneditor-compact {
    background-position: -384px 0;
}
button.jsoneditor-format {
    background-position: -384px -24px;
}


tr, th, td {
    padding: 0;
    margin: 0;
}

td.jsoneditor-td {
    vertical-align: top;
}

td.jsoneditor-td {
    padding: 0 3px;
}

td.jsoneditor-td-edit {
    background-color: #F5F5F5;
    padding: 0;
}

td.jsoneditor-td-tree {
    vertical-align: top;
}

td.jsoneditor-droparea {
    height: 24px;

    border-top: 1px dashed gray;
    border-bottom: 1px dashed gray;
    background-color: #FFFF80;
}

.jsoneditor-field, .jsoneditor-value, .jsoneditor-td, .jsoneditor-th,
.jsoneditor-type,
.jsonformatter-textarea {
    font-family: droid sans mono, monospace, courier new, courier, sans-serif;
    font-size: 10pt;
    color: #1A1A1A;
}

.jsoneditor-hidden-focus {
    position: absolute;
    left: -1000px;
    top: -1000px;
    border: none;
    outline: none;
}
.ui-spinner {position: relative; border: 0px solid white; }
.ui-spinner-buttons {position: absolute}
.ui-spinner-button {overflow: hidden}
.toolbar-wrapper {
    display: block;
    position: relative;
}

.toolbar {
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 5px; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    border: 1px solid gray;
    background-color: lightgray;
}


.my-tooltip {
	display: inline;
	position: relative;
}

.my-tooltip:hover:after{
	background: #333;
	background: rgba(0,0,0,.8);
	border-radius: 5px;
	bottom: 26px;
	color: #fff;
	content: attr(data-title);
	left: 20%;
	padding: 5px 15px;
	position: absolute;
	z-index: 98;
    width: 180px;
}

.my-tooltip:hover:before{
	border: solid;
	border-color: #333 transparent;
	border-width: 6px 6px 0 6px;
	bottom: 20px;
	content: "";
	left: 50%;
	position: absolute;
	z-index: 99;
}


/*
.icon-default.icon-hover {
    background-image: url(../images/icons/32/Redo.png);
}
*/


/* "fm" classes are mostly for imitating MathML in browsers without it; we try to roughly mimic
	Firefox's MathML layout, which seems better than http://www.w3.org/TR/mathml-for-css/ */

/* Cambria [Math]'s line height currently (2/11) is large in most non-Microsoft browsers: */
fmath, .fm-math		{ font-family: STIXGeneral, 'DejaVu Serif', 'DejaVu Sans',
						/* Cambria, 'Cambria Math', */ Times, 'Lucida Sans Unicode',
						OpenSymbol, 'Standard Symbols L', serif; line-height: 1.2 }
fmath mo, .fm-mo, .ma-sans-serif
/* some (crossbrowsertesting/browsershots) IE7s require no line break before
	'Lucida Sans Unicode': */
{ font-family: STIXGeneral, 'DejaVu Sans', 'DejaVu Serif', /* Cambria, 'Cambria Math', */ 'Lucida Sans Unicode',
						'Arial Unicode MS', 'Lucida Grande', Times,
						OpenSymbol, 'Standard Symbols L', sans-serif }
.fm-mo-Luc	/* avoid extra space at character tops, especially when stretched */
{ font-family: STIXGeneral, 'DejaVu Sans', 'DejaVu Serif', /* Cambria, 'Cambria Math', */ 'Lucida Sans Unicode',
						'Lucida Grande', 'Arial Unicode MS', Times,
						OpenSymbol, 'Standard Symbols L', sans-serif }
* html fmath, * html .fm-math, * html fmath mo, * html .fm-mo, * html .IE6-LSU
					{ font-family: 'Lucida Sans Unicode' !important }	/* IE <=6 only */
mo.fm-radic			{ font-family: 'Lucida Sans Unicode', 'Lucida Grande',
						Verdana, sans-serif !important }
.ma-script			{ font-family:
						'England Hand DB', 'Embassy BT', 'Amazone BT', 'Bank Script D',
						'URW Chancery L', 'Lucida Calligraphy', 'Apple Chancery',
						'Monotype Corsiva', Corsiva,
						'Vivaldi D', Gabriola, 'Segoe Script', cursive }
.ma-fraktur			{ font-family: UnifrakturMaguntia, Impact, fantasy }
/* .ma-double-struck currently ignored */

.fm-mi-length-1		{ font-style: italic }

.ma-bold			{ font-weight: bold }
.ma-nonbold			{ font-weight: normal }
.ma-upright			{ font-style: normal !important }
.ma-italic			{ font-style: italic }

fmath.ma-block		{ display: block; text-align: center; text-indent: 0;
						page-break-inside: avoid }

/* note an operator might be 'mo' or "embellished": */
.fm-separator		{ padding: 0 0.56ex 0 0 }
.fm-infix-loose		{ padding: 0 0.56ex }	/* typically a relation */
.fm-infix			{ padding: 0 0.44ex }
.fm-prefix			{ padding: 0 0.33ex 0 0 }
.fm-postfix			{ padding: 0 0 0 0.33ex }
.fm-prefix-tight	{ padding: 0 0.11ex 0 0 }
.fm-postfix-tight	{ padding: 0 0 0 0.11ex }
.fm-quantifier		{ padding: 0 0.11ex 0 0.22ex }	/* to match MathML */
/* fences should have no padding */

.fm-large-op		{ font-size: 1.3em }
.fm-inline .fm-large-op	{ font-size: 1em }

fmath mrow			{ white-space: nowrap }

.fm-vert			{ display: inline-block; vertical-align: middle }

fmath table, fmath tbody, fmath tr, fmath td	/* reset to default(?) styles */
					{ border: 0 !important; padding: 0 !important; margin: 0 !important;
						outline: 0 !important }

fmath table			{ border-collapse: collapse !important; text-align: center !important;
						table-layout: auto !important; float: none !important }

.fm-frac			{ padding: 0 1px !important }
td.fm-den-frac		{ border-top: solid thin !important }

.fm-root			{ font-size: 0.6em }
.fm-radicand		{ padding: 0 1px 0 0; border-top: solid; margin-top: 0.1em }

.fm-script			{ font-size: 0.71em }
.fm-script .fm-script .fm-script	{ font-size: 1em }

td.fm-underover-base	{ line-height: 1 !important }

td.fm-mtd			{ padding: 0.5ex 0.4em !important; vertical-align: baseline !important }

fmath none			{ display: none }	/* probably unnecessary */

mtd.middle, fmath td.middle	{ vertical-align: middle !important }

mtable.ma-join-align > mtr > mtd:first-child,
fmath span.ma-join-align > table > tbody > tr > td:first-child
					{ text-align: right; padding-right: 0 !important }
mtable.ma-join-align > mtr > mtd:first-child + mtd,
fmath span.ma-join-align > table > tbody > tr > td:first-child + td
					{ text-align: left; padding-left: 0 !important }
mtable.ma-join1-align > mtr > mtd:first-child,	/* e.g. for cases after a stretched { */
fmath span.ma-join1-align > table > tbody > tr > td:first-child
					{ text-align: left; padding-left: 0 !important }

mtable.ma-binom > mtr > mtd, fmath span.ma-binom > table > tbody > tr > td
					{ padding: 0 !important }
mtable.ma-binom > mtr:first-child > mtd,
fmath span.ma-binom > table > tbody > tr:first-child > td
					{ padding: 0 0 0.18em 0 !important }


/* curve.js classes: */

.ma-param-eq		{ white-space: nowrap }

.ma-slider-param .ui-slider
					{ margin: 0.33em 1em }
.ma-slider-param .ma-param-eq
					{ text-align: center; font-size: 1.1em }

.ma-grid-label		{ font: 80% serif }	/* (numeric) grid labels */
.ma-graphs			{ position: relative }	/* must be a positioned element */
.ma-graphs canvas	{ cursor: crosshair }
.ma-graph-handle	{ position: absolute; width: 1px; height: 100%; top: 0;
						background-color: #BBB; cursor: crosshair }
.ma-graph-handle:focus	{ background-color: #999 }
.ma-trace			{ font-size: 0.9em; margin-top: 1em; text-align: left }
.ma-indeps-vals		{ margin-top: 0.5em }
.ma-deps-vals		{ margin-top: 1em; min-width: 10em }
.syntaxhighlighter a,
.syntaxhighlighter div,
.syntaxhighlighter code,
.syntaxhighlighter table,
.syntaxhighlighter table td,
.syntaxhighlighter table tr,
.syntaxhighlighter table tbody,
.syntaxhighlighter table thead,
.syntaxhighlighter table caption,
.syntaxhighlighter textarea {
  -moz-border-radius: 0 0 0 0 !important;
  -webkit-border-radius: 0 0 0 0 !important;
  background: none !important;
  border: 0 !important;
  bottom: auto !important;
  float: none !important;
  height: auto !important;
  left: auto !important;
  line-height: 1.1em !important;
  margin: 0 !important;
  outline: 0 !important;
  overflow: visible !important;
  padding: 0 !important;
  position: static !important;
  right: auto !important;
  text-align: left !important;
  top: auto !important;
  vertical-align: baseline !important;
  width: auto !important;
  box-sizing: content-box !important;
  font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important;
  font-weight: normal !important;
  font-style: normal !important;
  font-size: 1em !important;
  min-height: inherit !important;
  min-height: auto !important;
}

.syntaxhighlighter {
  width: 100% !important;
  margin: 1em 0 1em 0 !important;
  position: relative !important;
  overflow-x: auto !important;
  overflow-y: hidden !important;
  font-size: 1em !important;
}
.syntaxhighlighter.source {
  overflow: hidden !important;
}
.syntaxhighlighter .bold {
  font-weight: bold !important;
}
.syntaxhighlighter .italic {
  font-style: italic !important;
}
.syntaxhighlighter .line {
  white-space: pre !important;
}
.syntaxhighlighter table {
  width: 100% !important;
}
.syntaxhighlighter table caption {
  text-align: left !important;
  padding: .5em 0 0.5em 1em !important;
}
.syntaxhighlighter table td.code {
  width: 100% !important;
}
.syntaxhighlighter table td.code .container {
  position: relative !important;
}
.syntaxhighlighter table td.code .container textarea {
  box-sizing: border-box !important;
  position: absolute !important;
  left: 0 !important;
  top: 0 !important;
  width: 100% !important;
  height: 100% !important;
  border: none !important;
  background: white !important;
  padding-left: 1em !important;
  overflow: hidden !important;
  white-space: pre !important;
}
.syntaxhighlighter table td.gutter .line {
  text-align: right !important;
  padding: 0 0.5em 0 1em !important;
}
.syntaxhighlighter table td.code .line {
  padding: 0 1em !important;
}
.syntaxhighlighter.nogutter td.code .container textarea, .syntaxhighlighter.nogutter td.code .line {
  padding-left: 0em !important;
}
.syntaxhighlighter.show {
  display: block !important;
}
.syntaxhighlighter.collapsed table {
  display: none !important;
}
.syntaxhighlighter.collapsed .toolbar {
  padding: 0.1em 0.8em 0em 0.8em !important;
  font-size: 1em !important;
  position: static !important;
  width: auto !important;
  height: auto !important;
}
.syntaxhighlighter.collapsed .toolbar span {
  display: inline !important;
  margin-right: 1em !important;
}
.syntaxhighlighter.collapsed .toolbar span a {
  padding: 0 !important;
  display: none !important;
}
.syntaxhighlighter.collapsed .toolbar span a.expandSource {
  display: inline !important;
}
.syntaxhighlighter .toolbar {
  position: absolute !important;
  right: 1px !important;
  top: 1px !important;
  width: 11px !important;
  height: 11px !important;
  font-size: 10px !important;
  z-index: 10 !important;
}
.syntaxhighlighter .toolbar span.title {
  display: inline !important;
}
.syntaxhighlighter .toolbar a {
  display: block !important;
  text-align: center !important;
  text-decoration: none !important;
  padding-top: 1px !important;
}
.syntaxhighlighter .toolbar a.expandSource {
  display: none !important;
}
.syntaxhighlighter.ie {
  font-size: .9em !important;
  padding: 1px 0 1px 0 !important;
}
.syntaxhighlighter.ie .toolbar {
  line-height: 8px !important;
}
.syntaxhighlighter.ie .toolbar a {
  padding-top: 0px !important;
}
.syntaxhighlighter.printing .line.alt1 .content,
.syntaxhighlighter.printing .line.alt2 .content,
.syntaxhighlighter.printing .line.highlighted .number,
.syntaxhighlighter.printing .line.highlighted.alt1 .content,
.syntaxhighlighter.printing .line.highlighted.alt2 .content {
  background: none !important;
}
.syntaxhighlighter.printing .line .number {
  color: #bbbbbb !important;
}
.syntaxhighlighter.printing .line .content {
  color: black !important;
}
.syntaxhighlighter.printing .toolbar {
  display: none !important;
}
.syntaxhighlighter.printing a {
  text-decoration: none !important;
}
.syntaxhighlighter.printing .plain, .syntaxhighlighter.printing .plain a {
  color: black !important;
}
.syntaxhighlighter.printing .comments, .syntaxhighlighter.printing .comments a {
  color: #008200 !important;
}
.syntaxhighlighter.printing .string, .syntaxhighlighter.printing .string a {
  color: blue !important;
}
.syntaxhighlighter.printing .keyword {
  color: #006699 !important;
  font-weight: bold !important;
}
.syntaxhighlighter.printing .preprocessor {
  color: gray !important;
}
.syntaxhighlighter.printing .variable {
  color: #aa7700 !important;
}
.syntaxhighlighter.printing .value {
  color: #009900 !important;
}
.syntaxhighlighter.printing .functions {
  color: #ff1493 !important;
}
.syntaxhighlighter.printing .constants {
  color: #0066cc !important;
}
.syntaxhighlighter.printing .script {
  font-weight: bold !important;
}
.syntaxhighlighter.printing .color1, .syntaxhighlighter.printing .color1 a {
  color: gray !important;
}
.syntaxhighlighter.printing .color2, .syntaxhighlighter.printing .color2 a {
  color: #ff1493 !important;
}
.syntaxhighlighter.printing .color3, .syntaxhighlighter.printing .color3 a {
  color: red !important;
}
.syntaxhighlighter.printing .break, .syntaxhighlighter.printing .break a {
  color: black !important;
}
.syntaxhighlighter {
  background-color: white !important;
}
.syntaxhighlighter .line.alt1 {
  background-color: white !important;
}
.syntaxhighlighter .line.alt2 {
  background-color: white !important;
}
.syntaxhighlighter .line.highlighted.alt1, .syntaxhighlighter .line.highlighted.alt2 {
  background-color: #e0e0e0 !important;
}
.syntaxhighlighter .line.highlighted.number {
  color: black !important;
}
.syntaxhighlighter table caption {
  color: black !important;
}
.syntaxhighlighter .gutter {
  color: #afafaf !important;
}
.syntaxhighlighter .gutter .line {
  border-right: 3px solid #6ce26c !important;
}
.syntaxhighlighter .gutter .line.highlighted {
  background-color: #6ce26c !important;
  color: white !important;
}
.syntaxhighlighter.printing .line .content {
  border: none !important;
}
.syntaxhighlighter.collapsed {
  overflow: visible !important;
}
.syntaxhighlighter.collapsed .toolbar {
  color: blue !important;
  background: white !important;
  border: 1px solid #6ce26c !important;
}
.syntaxhighlighter.collapsed .toolbar a {
  color: blue !important;
}
.syntaxhighlighter.collapsed .toolbar a:hover {
  color: red !important;
}
.syntaxhighlighter .toolbar {
  color: white !important;
  background: #6ce26c !important;
  border: none !important;
}
.syntaxhighlighter .toolbar a {
  color: white !important;
}
.syntaxhighlighter .toolbar a:hover {
  color: black !important;
}
.syntaxhighlighter .plain, .syntaxhighlighter .plain a {
  color: black !important;
}
.syntaxhighlighter .comments, .syntaxhighlighter .comments a {
  color: #008200 !important;
}
.syntaxhighlighter .string, .syntaxhighlighter .string a {
  color: blue !important;
}
.syntaxhighlighter .keyword {
  color: #006699 !important;
}
.syntaxhighlighter .preprocessor {
  color: gray !important;
}
.syntaxhighlighter .variable {
  color: #aa7700 !important;
}
.syntaxhighlighter .value {
  color: #009900 !important;
}
.syntaxhighlighter .functions {
  color: #ff1493 !important;
}
.syntaxhighlighter .constants {
  color: #0066cc !important;
}
.syntaxhighlighter .script {
  font-weight: bold !important;
  color: #006699 !important;
  background-color: none !important;
}
.syntaxhighlighter .color1, .syntaxhighlighter .color1 a {
  color: gray !important;
}
.syntaxhighlighter .color2, .syntaxhighlighter .color2 a {
  color: #ff1493 !important;
}
.syntaxhighlighter .color3, .syntaxhighlighter .color3 a {
  color: red !important;
}

.syntaxhighlighter .keyword {
  font-weight: bold !important;
}